
h1.home {font-size: 48px;
        color: rgb(255, 20, 147);
        margin-bottom: 20px;
        text-align: center;
        }

p {color: rgb(255, 69, 230);}

#test {
        background-color: chartreuse;
        color: red;}

.lorem {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(75, 0, 130);
        }

.navbar ul{
        list-style: none;
        background-color: rgb(133, 2, 67);
        padding: 0px;
        margin:  0px;
        overflow: hidden;
}
.navbar a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: block;
        padding: 15px ;
        
}
.navbar a:hover{
        background-color: rgb(255, 20, 147);
        color: white;
}
.navbar li{
        float: left;
        border-right: 1px solid rgb(255, 255, 255);

}
